<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>book</title>
</head>
<body>
<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfProduction()}">VALUE</p>

<div th:if="${reader}">
    <p th:text = "${'Книга сейчас у: ' + reader.getFullName()}">reader</p>
    <form th:method="PATCH" th:action="@{/books/{id}/free(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>

<div th:if="${people}">
    <p th:text="${'Эта книга свободна. Кому назначить ее?'}"></p>
    <form th:method="PATCH" th:action="@{/books/{id}/select(id=${book.getId()})}">
        <label for="person">Выберите человека:</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}"
                    th:text="${person.getFullName()}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>
</div>



<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>